// Regroupe le style pour le contenu des node.tpl custom
// Concerne toutes les pages qui créer du contenu Europe, Sortie, Partenaires

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|           CONTENU VDL                |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur {

    #colonne-1.partenaires{order:1;}
    #colonne-2.partenaires{order:2;}
    #colonne-3.partenaires{order:3;}
    @include breakpoint ($desktop){
   
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.contenu-vdl{
            @include border-vert-violet;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.titre_page_vdl{
    font-size: em(24px);
    color: $orange;
    line-height: 1.0em;
}