// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE ACTUALITE LISTE      |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.page-actualites{order:2;}
    #colonne-2.page-actualites{order:1;}
    #colonne-3.page-actualites{order:3;}
    @include breakpoint ($desktop){
    #colonne-1.page-actualites{order:1;}
    #colonne-2.page-actualites{order:2;}
    #colonne-3.page-actualites{order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex{
    @include breakpoint ($desktop){
        #colonne-2.page-actualites{@include border-vert-violet;}
    }
    
}
/*######-------- ||| STYLE ||| --------######*/

#bloc_grawitz_actus, #bloc_autre_event{
    background-color: white;
    background-image: url(../images/bg_grawitz_actus_ht.jpg),url(../images/bg_grawitz_actus_bas.jpg);
    background-position: left -30%, left bottom;
    background-repeat: no-repeat;
    padding: em(5px) 0;
    tr{}
    td{}
    h3{
        color: $violet;
        font-family: $AristaFont;
        padding: em(5px);
        text-align: center;
        font-size: x-large;
    }
}


table.table_ga ,table.table_ae{
    margin:0 0.3em;
    width: 100%;
    tbody{
        
        border: 0;
    }
    td{
        background: none repeat scroll 0 0 transparent;
        border: 0 none;
        display: block;
        width: 90%;
    }
    tr{
        background: none repeat scroll 0 0 transparent;
        border: 0;
    }
    a{
        text-decoration: none;
        color: $gris-anthracite;
        padding:0.3em;
        font-size:small;
        &:hover{
            background: $orange;
            color: white;
        }
    }
}
 