// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE LYCEE                     |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.page-lycee {order:1;}
    #colonne-1.page-lycee span{display: none;}
    #colonne-2.page-lycee {order:1;}
    #colonne-3.page-lycee {order:2;}
    @include breakpoint ($desktop){
    #colonne-1.page-lycee {order:1;}
    #colonne-1.page-lycee span{display: initial;}
    #colonne-2.page-lycee {order:2;}
    #colonne-3.page-lycee {order:3;}
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex{
    @include breakpoint ($desktop){
        #colonne-2.page-lycee{@include border-vert-violet;}
    }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.titre-lycee{
    font-size: em(24px);
    color: $violet;
    line-height: 1.0em
}
h1.titre_pl a{}
h1.titre_pl a:hover{}
/*######-------- COLONNE 1 --------######*/
#colonne-1.page-lycee{
    h2{}
h3{}
h4{}
p{}
ul{}
img{
    @include ombrage();
     border: 5px solid #fff;
    -moz-box-shadow: #AAAAAA 0px 0px 5px ;
    -webkit-box-shadow: #AAAAAA 0px 0px 5px;
    box-shadow: #AAAAAA 0px 0px 5px;
}

a{
    &:hover{}
}


h2 a{}
h2 a:hover{}
h3 a{}
h3 a:hover{}
h4 a{}
h4 a:hover{}
} 
/*######-------- COLONNE 2 --------######*/
#colonne-2.page-lycee{
    h2{
        color: $orange;
        padding: 5px;
    }
    h3{
        color: #911381;
        padding: 5px;
    }
    h4{
        padding: 5px;
        color: #F29803;
    }
    p{
        padding: 5px;
    }
    ul{
        padding: 5px;
    }
    img{

    }
    a{
        color: $orange;
        text-decoration: none;
        padding: 2px;
        &:hover{
            color: white;
            background: $orange;
        }
    }
    form{margin: 0 6em;}
}

/*######-------- COLONNE 3 --------######*/
#colonne-3.page-lycee{
    h2{}
    h3{}
    h4{}
    p{}
    ul{}
    img{

    }

    a{
        &:hover{}
    }


    h2 a{}
    h2 a:hover{}
    h3 a{}
    h3 a:hover{}
    h4 a{}
    h4 a:hover{}
}

/* Fichier joint dans page lycée*/
#fichier-joint-plycee{
    display: block;
    margin: 0 auto;
    width: 90%;
    background: transparent url(../images/bg_doc_utile_rp.gif) repeat ;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0;
    behavior: url(/sites/all/libraries/PIE/PIE.htc);
    position: relative;
}
#fichier-joint-plycee h3{
    font-family: arista,Trebuchet MS, sans-serif;
    color: $orange;
    padding: em(5px);
    text-align: center;

}
#fichier-joint-plycee a{
    color: $gris-clair-moyen;
    display: block;
    font-weight: bold;
    margin: 0 auto;
    padding: em(2px);
    width: 90%;
    text-decoration: none;
}
#fichier-joint-plycee a:hover{
    background: $orange;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    

}
#fichier-joint-plycee .filefield-icon {
    display: none;
}
#video-plycee{
    margin: 0 auto;
    border: 1px solid $orange;
    padding: 5px;
    width: 90%;
}

/*Tableaux*/
.table_generik{
    border: 0px solid black;
    width: 95%;
    margin: 0 auto;
    tbody{
        border: 0;
        text-align: center;
    }
    tr{
        border: 0px solid black;
    }
    tr.ligne_1{
        background: transparent;
        color: black;
    }
    tr.ligne_2{
        background: $orange;
        color: white;
    }
    td{
        border: 0px solid black;

    }
}

#table_frais{
    border: 0;
    width: 100%;
    tr.tf_line_1{
        color: white;
        background: $bleu-turquoise;
    }
    tr.tf_line_2{
        color: $orange-fonce;
        background: white;
    }
}
